#content-text {
    color: rgba(190, 100,100, 1);
}

#description yt-formatted-string.content {
    color: rgba(200, 250, 250, 1);
}

#video-title {
    color: rgba(190, 190, 190, 1);
}

.title {
    color: rgba(220, 70, 70, 1);
}

tp-yt-paper-button[subscribed] {
    background-color: transparent
}

ytd-toggle-button-renderer#dislike-button.style-default-active {
    color: rgb(255,55,25);
}

ytd-toggle-button-renderer#like-button.style-default-active {
    color: rgb(64,225,64);
}
div#menu ytd-menu-renderer div#top-level-buttons-computed ytd-toggle-button-renderer:nth-child(1) a yt-icon-button#button button[aria-pressed="true"] yt-icon.ytd-toggle-button-renderer {
  color: rgb(64,225,64);
}
div#menu ytd-menu-renderer div#top-level-buttons-computed ytd-toggle-button-renderer:nth-child(2) a yt-icon-button#button button[aria-pressed="true"] yt-icon.ytd-toggle-button-renderer {
  color: rgb(255,55,25);
}
div#playlist-action-menu ytd-menu-renderer div#top-level-buttons-computed ytd-toggle-button-renderer a yt-icon-button#button button[aria-pressed="true"] yt-icon.ytd-toggle-button-renderer {
  color: rgb(10,210,230);
}